

</body>

<footer>
  <div class="centerdiv">
    <ul>
    <li><a href="https://www.facebook.com/profile.php?id=100081263244041" target="_blank">
      <i class="fa-brands fa-facebook-f"></i>
    </a></li>
    <li><a href="https://instagram.com/its_me_tsf?igshid=YmMyMTA2M2Y=" target="_blank">
      <i class="fa-brands fa-instagram"></i>
    </a></li>
    <li><a href="https://twitter.com/MohdTauseefAn14?t=bu8ER8daXvmLWm2dZI-nDw&s=09" target="_blank">
      <i class="fa-brands fa-twitter"></i>
    </a></li>
    <li><a href="https://www.linkedin.com/in/mohd-tauseef-ansari-51a721227" target="_blank">
      <i class="fa-brands fa-linkedin"></i>
    </a></li>
    <li><a href="https://github.com/Mohdtsf" target="_blank">
      <i class="fa-brands fa-github"></i>
    </a></li>
    </ul>
  </div>
</footer>

</html>
